/SerialLedBtnLibEx/.vs
/SerialLedBtnLibEx/bin/Debug
/SerialLedBtnLibEx/obj/Debug
SerialLedBtnLibEx/obj/project.assets.json
SerialLedBtnLibEx/obj/project.nuget.cache
SerialLedBtnLibEx/obj/SerialLedBtnLibEx.csproj.nuget.dgspec.json
SerialLedBtnLibEx/obj/SerialLedBtnLibEx.csproj.nuget.g.props
SerialLedBtnLibEx/obj/SerialLedBtnLibEx.csproj.nuget.g.targets
SerialLedBtnLibEx/SerialLedBtnLibEx.csproj.user
