/SerialLedBtnLibEx/.vs
/SerialLedBtnLibEx/bin/Debug
/SerialLedBtnLibEx/obj/Debug
SerialLedBtnLibEx/obj/project.assets.json
SerialLedBtnLibEx/obj/project.nuget.cache
SerialLedBtnLibEx/obj/SerialLedBtnLibEx.csproj.nuget.dgspec.json
SerialLedBtnLibEx/obj/SerialLedBtnLibEx.csproj.nuget.g.props
SerialLedBtnLibEx/obj/SerialLedBtnLibEx.csproj.nuget.g.targets
SerialLedBtnLibEx/SerialLedBtnLibEx.csproj.user
SerialLedBtnLibEx/obj/Debug/net10.0-windows/SerialLedBtnLibEx.AssemblyInfo.cs
SerialLedBtnLibEx/obj/Debug/net10.0-windows/SerialLedBtnLibEx.AssemblyInfo.cs
SerialLedBtnLibEx/obj/Debug/net10.0-windows/SerialLedBtnLibEx.AssemblyInfo.cs
SerialLedBtnLibEx/SerialLedBtnLibEx.slnx
CAD/2ServoArm.20260701-110200.FCBak
SerialLedBtnLibEx/Images/.$ClassDiagram.drawio.bkp
SerialLedBtnLibEx/Images/.$ClassDiagram.drawio.dtmp
Firmware/Micropython/jsonSerialAndBLE/sensor-protocol-design-spec.md
Install_LiveCharts_Skjermbilde 2026-08-04 105755.png
Skjermbilde 2026-08-04 105727.png
